.table-panel .pagetitle {
    text-align: center !important;
    width: 100%;
    display: block;
    font-size: 14px !important;
    font-weight: 800 !important;
}

.table-panel {
    font: 12px verdana;
    text-align: left;
}

.table-panel .dt_title {
    font: 14px verdana;
    text-align: center;
    font-weight: 800 !important;
    margin-top: 1%;
}

.table-panel tbody {
    height: 80% !important;
}
table.dataTable {
    table-layout: fixed;
}
table.dataTable thead th,
table.dataTable tfoot th {
    font-weight: bold;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #111;
    font-size: 12px;
}

.table-panel .table-bordered > :not(caption) > * > * {
    border-width: 1px 0 !important;
    border-color: #dee2e6 !important;
}

.table-panel tbody tr:first-child td {
    border-top: 0 !important;
}

.table-panel tbody tr:last-child td {
    border-bottom: 0 !important;
}

.table-panel .table-bordered {
    border: none !important;
}

.bottom {
    margin-top: 1% !important;
}

.fa-icon {
    color: #212529;
    text-decoration: none;
}

.datatable-v1 .dropdown {
    height: 30px !important;
    background-color: #0d6efd !important ;
}
.datatable-v1 .dropdown .dropdown-toggle {
    font-size: 12px !important;
    color: white !important;
}
.datatable-v1 .dropdown-menu {
    right: 0 !important ;
}
